div.main-form{
	height:500px;
	width:30%;
	margin: 0px auto;
}

div.avatar,div.form-title{
	width: 50%;
	margin:30px auto;
	
}

img.avatar-image {
    width: 100%;
    border-radius: 100px;
}

input[type=email],input[type=password]{
	width: 100%;
	height:30px;
	text-align: center;	
	
}

input[type=text],input[type=date],input[type=file]{
	width: 100%;
	height:30px;
	text-align: center;	
	color: #919aa1;
}
input[type=file]{
	width: 100%;
	height:30px;
	border:1px solid #919aa1;
}

button[type="submit"]{
	width: 100%;
	height: 30px;
	border:none;
	background: #05a849;
	margin: 10px auto;
	cursor: pointer;
}

button[type="submit"]:hover{
	opacity: 0.7;
}

@keyframes animate{
	from{transform:scale(0);};
	to{transform:scale(1);}
}

form div.form-container{
	margin: 40px;
}

.form-title h1,p{
	text-align: center;
}

.dropdown-menu.show {
    left:-25px;
    margin: auto -30px;
}

div.alert{
	display:none;
	text-align: center;
}

.preloader,.submit-loader{
    height: 100%;
	width: 100%;
	position:fixed;
	z-index: 9999999;
	background: black;
}

.preloader .circleLoader{
	position: absolute;
    top: 50%;
    left: 45%;
    border-radius: 50px;
    margin: auto -20px;
    height:100px;
    width: 100px;
    border: 5px solid white;
    border-top-color: transparent;
    animation: loader 1s infinite linear;
}

.loader-data{
	margin: 200px auto;
}

.loader-data h3{
	text-align: center;
    color: antiquewhite;
}

.submit-loader{
	background: rgba(0, 0, 0, 0.5);
    height: inherit;
    width: inherit;
}

.loader1{
	position:absolute;
	top:50%;
	left:45%;
	border-radius: 50px;
	margin: auto -20px;
    height: 60px;
    width: 60px;
	border:	5px solid #202020;
	border-top-color: transparent;
	animation: loader 1s infinite linear;
}

@keyframes loader{
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}

#userImage{
	height:50px;
	width:50px;
	margin:20px 50px;
	border-radius: 50px;
}

div.dropzone{
	width:auto;
	height:200px;
	border: 1px solid black;
}

div.dragover{
	border: 1px dashed gray;	
}

div.dropzone p{
	margin-top: 80px;
}