<div class="main-form resetForm">
    <form ng-submit="passwordResetLink()" name="passwordResetForm">
        <div class="form-title">
        <h1>Reset Form</h1>
        <p>Fill Form to Reset Password</p>
        </div>
        <div class="form-container">
            <input type="password" Placeholder="New Password" ng-model="chngPassword.password" required>
            <input type="password" Placeholder="Re-Enter Password" ng-model="chngPassword.confPassword" required>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
